@import '../../../styles/styles.scss';

.message {
  text-align: center;
  width: 100%;
  color: lighten($clr-grey, 5%);
  font-weight: 500;
  border-radius: $border-radius;
  border: 0.03rem solid lighten($clr-grey, 30%);
  max-width: 65%;
  display: flex;
  flex-direction: column;
  padding: 1rem 1rem 0.5rem 1rem;
  box-sizing: border-box;
  letter-spacing: 0.01rem;
  margin-top: 1rem;
}

.user-message,
.received-message {
  .message-text {
    box-sizing: border-box;
    text-align: start;
  }

  .message-timestamp {
    padding-right: 0.5rem;
    padding-top: 0.5rem;
    font-size: 0.8rem;
    box-sizing: border-box;
    color: lighten($clr-grey, 20%);
  }
}

.received-message {
  background: white;
  text-align: start;

  .message-author {
    padding-bottom: 0.2rem;
    font-weight: bolder;
  }
}

.user-message {
  margin-left: auto;
  background: $clr-bg-user-message;

  .message-timestamp {
    text-align: end;
  }
}
