@import '../../../styles/styles.scss';

.send-button {
  background: $clr-send-button;
  padding: 1rem;
  color: white;
  font-weight: bold;
  outline: none;
  border: none;
  border-radius: $border-radius;
  cursor: pointer;
}

.send-button:hover {
  background: darken($clr-send-button, 10%);
}
