//COLORS
$clr-bg-user-message: rgb(229, 229, 140);
$clr-received-message: white;
$clr-grey: rgb(70, 70, 70);
$clr-send-button: rgb(224, 91, 91);
$clr-bg-form: rgb(74, 129, 230);

//BORDER
$border-radius: 0.5rem;
