.input-message {
  padding: 1rem;
  border: solid 0.2rem darken(rgb(74, 129, 230), 15%);
  border-radius: 0.5rem;
  outline: none;
  caret-color: darken(rgb(74, 129, 230), 15%);
  flex: 1;
  margin-right: 0.5rem;
}
