@import '../../../styles/styles.scss';

.input-message {
  padding: 1rem;
  border: solid 0.2rem darken($clr-bg-form, 15%);
  border-radius: $border-radius;
  outline: none;
  caret-color: darken($clr-bg-form, 15%);
  flex: 1;
  margin-right: 0.5rem;
}
