.chat {
  text-align: center;
  background: url('https://github.com/DoodleScheduling/hiring-challenges/blob/master/frontend-engineer/assets/Body%20BG.png?raw=true')
    center center no-repeat;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}
